.text-right
{
    text-align: right;
}

.image-back
{
    background-image:  url('./img/ba1.jpg') ;
    height: 75vh;
}
.bg-verde-plomo
{
    color: white;
    background-color: #17A2B9;
}

.myRight {
    text-align: right;
    margin-right: 150px;
    filter: brightness(150%);
    margin-top: 0px;
  }

  .myh6{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: black;
  }

  .footBar {
    
    background-color: #1C3643; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #1C3643,#1E5372);
  }